input[type="file"] {
    margin-top: 20px;
}

iframe {
    margin-top: 20px;
    border: none;
}

.pdf-preview {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}